{% extends "reuse/ui/base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">About CTF Platform</h1>
            <p class="lead blog-description">Present by NSSLab@UGA</p>
        </div>

        <div class="col-sm-8 blog-main">
        <p>This material is based upon work supported by the National Science Foundation under Award No. 1318881.</p>
        <p>If you have any questions or suggestions.<br>
        Please contact Yue Yin <br>
        <pre><code>"yin" at "cs" dot "uga" dot "edu" </code></pre>
        </p>
        </div>

    </div><!-- /.container -->


{% endblock %}